<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>title: <%= expense.title %></h1>
    <p>Category: <%= expense.category %></p>
    <h1>Amount: <%= expense.amount %></h1>
    <h1><%= expense.id %></h1>
    <a href="/expense-update/<%= expense.id %>">Edit</a>
    <a href="/expenses-list">Go back</a>
  </body>
</html>
